extends ../../layouts/default.pug

block main

  if (product.title)
  h1(class="product-title mb-4") #{product.title}

  if (product.price)
    div(class="product-price mb-4") Giá: <b>#{product.price}$</b>

  if (product.discountPercentage)
    div(class="product-discount mb-4") Giảm giá: <b>#{product.discountPercentage}%</b>

  if (product.stock)
    div(class="product-stock mb-4") Còn lại: <b>#{product.stock}</b>

  if (product.thumbnail)
    div(class="product-thumbnail mb-4")
      img(src=product.thumbnail class="thumbnail-img")

  if (product.status)
    div(class="product-status mb-4")
      span Trạng thái:
      if (product.status === "active")
        span(class="badge badge-success") Hoạt động
      else
        span(class="badge badge-danger") Dừng hoạt động

  if (product.position)
    div(class="product-position mb-4") Vị trí: <b>#{product.position}</b>

  if (product.description)
    div(class="product-description mb-4") #{product.description}

  a(
    href=`${prefixAdmin}/products/edit/${product.id}`
    class="btn btn-primary"
  ) 
    i.bi.bi-pencil-square


  script(src="/admin/javascripts/products.js") 